APP_NAME=auth;
DB_HOST=localhost;
DB_NAME=auth_db;
DB_PASSWORD=Huyhuy0124685;
DB_PORT=5432;
DB_USERNAME=postgres;
GRPC_PORT=5001;
JWT_EXPIRED=86400000;
JWT_SECRET=local-auth-development-secret-key-minimum-256-bit-length

